/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Unique Styles
   ========================================================================== */

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #595a5c;
}

@media only screen and (min-width: 50em) {
  body {
    font-size: 20px;
  }
}

.rounded {
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h1.rounded {
  font-size: 46px;
}

h2.rounded {
  font-size: 36px;
}

.teal {
  color: #4ea79d;
}
.green {
  color: #82bb42;
}
.pink {
  color: #d01c7c;
}
.orange {
  color: #ed9a2d;
}

a {
  color: #595a5c;
}

a.block-link {
  display: block;
  text-align: center;
  text-decoration: none;
}

a.btn,
button.btn {
  background: transparent;
  border: 3px solid;
  border-radius: 4px;
  color: #d01c7c;
  cursor: pointer;
  display: inline-block;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

a.block-link:hover {
  text-decoration: underline;
}

b {
  font-weight: 900;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 50em) {
  .flex {
    flex-direction: row;
  }
}

.header {
  padding: 5rem 0;
  background-color: #4ea79d;
  color: #ffffff;
  text-align: center;
}

.logo {
  width: 120px;
  max-width: 100%;
  height: auto;
}

.header .squeeze {
  display: inline-block;
}

.header .squeeze > * {
  display: block;
  margin: auto;
}

@media only screen and (min-width: 50em) {
  .header .squeeze > * {
    display: inline-block;
    vertical-align: middle;
  }

  .header .squeeze > .logo {
    margin: 0 3rem 0 0;
  }
}

@media only screen and (min-width: 50em) {
  .split {
    display: flex;
    flex-direction: row;
  }

  .split > * {
    flex: 1;
  }
}

.split-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50rem;
}

.section {
  padding: 10rem 0;
  background-color: #ffffff;
  overflow: hidden;
}

.section.orange {
  background-color: #ed9a2d;
  color: #ffffff;
}

.section.green {
  background-color: #82bb42;
  color: #ffffff;
}

.section.teal {
  background-color: #4ea79d;
  color: #ffffff;
}

.section .bd {
  width: 80%;
  margin: auto;
  max-width: 800px;
}

.section .bd.lead {
  padding: 10rem 0;
}

@media only screen and (min-width: 50em) {
  .squeeze {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 50em) {
  .mobile {
    display: none;
  }
}

.copy {
  text-align: center;
  font-size: 1.5rem;
}

/* Accordion */
p {
  z-index: 2;
}

.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn,
h1,
ul li {
  animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 44px;
  right: 0;
}
ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #d01c7c;
  width: 6px;
  height: 18px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(8px, 0) rotate(-45deg);
}
ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  transition: none;
}
ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(8px, 0) rotate(45deg);
}
ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.podcastTitle {
  text-align: center;
}

.podcastChannels {
  text-align: center;
  /* font-size: 80%; */
  margin-top: 3rem;
}

.podcastChannels a {
  color: #ffffff;
  line-height: 1;
}

.podcast {
  text-align: center;
}

.podcast .video img {
  max-width: 100%;
  height: auto;
}

.podcast .video a,
.podcast .video p {
  color: #ffffff;
  line-height: 1;
  text-decoration: none;
}

.podcast .video p.published {
  font-size: 80%;
}

.adoptLogo {
  display: block;
  width: 50%;
  height: auto;
  margin: auto 25%;
}

label {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
}

input,
textarea {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: 1px solid #4ea79d;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
